@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Rouge+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Laila", sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
   min-height:500px;
  }
/*-----------------------------------------------------NavBar*/

.navbar-brand {
  font-size: 40px;
  font-weight: 300;
  font-family: "Rouge Script";
  float: left;
  padding-bottom: 5px;
}
.navbar-nav li {
  padding-right: 10px;
}
/*--Carousel --*/
header {
  margin-top: 86px;
}

/*-----------------------------------------------------CarouselImage*/
.carousel-inner img {
  width: 100%;
}
.carousel-caption h3 {
  font-size: 45px;
  color: whitesmoke;
}

@media (min-width:600) 
#card bathbombs {
font-size:165%;
}
/*-----------------------------------------------------HomeCards*/
.card-deck {
  margin-top:5rem;
  margin-bottom:5rem;
}

.card img {
   height:200px;
}

/*-----------------------------------------------------Classes*/
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6rem;
    padding-bottom:10rem;
    border-radius: calc(.25rem - 1px);
}
/*-----------------------------------------------------Classes Background*/
.card-img-top-1 {
  max-height: 250px;
  max-width: 190px;
}

.card-img-top-2 {
  max-height: 250px;
  max-width: 190px;
}

.card-img-top-3 {
  max-height: 250px;
  max-width: 190px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-body {
  padding: 2px 16px;
}

/* -- Products Cards -- */
card {
    padding:5px;
}

/* -- FOOTER -- */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-container {
  padding: 16px 0;
}
footer ul {
  display: flex;
  margin: 0;
}
.social-icons {
  list-style: none;
}
.social-icons i {
  font-size: 165%;
  margin: 0 40px;
}

@media only screeen and (min-width: 20em) {
   .footer-copyright text-center {
    float: left;
    margin-right:0.5rem;
    margin-top:1.5rem;
}

.