@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Rouge+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Laila", sans-serif;

}

h1 {
 margin: 25px auto;
 text-align: center;
}

h2 {
    margin: 25px 0;
}


/*-----------------------------------------------------NavBar*/

.navbar-brand {
  font-size: 40px;
  font-weight: 300;
  font-family: "Rouge Script";
  float: left;
  padding-bottom: 5px;
}
.navbar-nav li {
  padding-right: 10px;
}

.background-image {
  max-width:100%;
}

/*-----------------------------------------------------Classes*/
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6rem;
    padding-bottom:10rem;
    border-radius: calc(.25rem - 1px);
}

/*-----------------------------------------------------Products Cards*/
.header {   
     padding: 86px;
}

/* -- FOOTER -- */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-container {
  padding: 16px 0;
}
footer ul {
  display: flex;
  margin: 0;
}
.social-icons {
  list-style: none;
}
.social-icons i {
  font-size: 165%;
  margin: 0 40px;
}

@media only screeen and (min-width: 20em) {
   .footer-copyright text-center {
    float: left;
    margin-right:0.5rem;
    margin-top:1.5rem;
}


